altair==5.5.0 ; python_version >= "3.12" and python_version < "3.14"
appnope==0.1.4 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Darwin"
asttokens==3.0.0 ; python_version >= "3.12" and python_version < "3.14"
attrs==25.3.0 ; python_version >= "3.12" and python_version < "3.14"
blinker==1.9.0 ; python_version >= "3.12" and python_version < "3.14"
cachetools==6.1.0 ; python_version >= "3.12" and python_version < "3.14"
certifi==2025.8.3 ; python_version >= "3.12" and python_version < "3.14"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "3.14" and implementation_name == "pypy"
charset-normalizer==3.4.3 ; python_version >= "3.12" and python_version < "3.14"
click==8.2.1 ; python_version >= "3.12" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows" or python_version >= "3.12" and python_version < "3.14" and sys_platform == "win32"
comm==0.2.3 ; python_version >= "3.12" and python_version < "3.14"
contourpy==1.3.3 ; python_version >= "3.12" and python_version < "3.14"
cycler==0.12.1 ; python_version >= "3.12" and python_version < "3.14"
datetime==5.5 ; python_version >= "3.12" and python_version < "3.14"
debugpy==1.8.16 ; python_version >= "3.12" and python_version < "3.14"
decorator==5.2.1 ; python_version >= "3.12" and python_version < "3.14"
executing==2.2.0 ; python_version >= "3.12" and python_version < "3.14"
filelock==3.19.1 ; python_version >= "3.12" and python_version < "3.14"
fonttools==4.59.1 ; python_version >= "3.12" and python_version < "3.14"
fsspec==2025.7.0 ; python_version >= "3.12" and python_version < "3.14"
gitdb==4.0.12 ; python_version >= "3.12" and python_version < "3.14"
gitpython==3.1.45 ; python_version >= "3.12" and python_version < "3.14"
holidays==0.79 ; python_version >= "3.12" and python_version < "3.14"
idna==3.10 ; python_version >= "3.12" and python_version < "3.14"
ipykernel==6.30.1 ; python_version >= "3.12" and python_version < "3.14"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.12" and python_version < "3.14"
ipython==9.4.0 ; python_version >= "3.12" and python_version < "3.14"
japanize-matplotlib==1.1.3 ; python_version >= "3.12" and python_version < "3.14"
jedi==0.19.2 ; python_version >= "3.12" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "3.14"
joblib==1.5.1 ; python_version >= "3.12" and python_version < "3.14"
jsonschema-specifications==2025.4.1 ; python_version >= "3.12" and python_version < "3.14"
jsonschema==4.25.1 ; python_version >= "3.12" and python_version < "3.14"
jupyter-client==8.6.3 ; python_version >= "3.12" and python_version < "3.14"
jupyter-core==5.8.1 ; python_version >= "3.12" and python_version < "3.14"
kiwisolver==1.4.9 ; python_version >= "3.12" and python_version < "3.14"
lightgbm==4.6.0 ; python_version >= "3.12" and python_version < "3.14"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "3.14"
matplotlib-inline==0.1.7 ; python_version >= "3.12" and python_version < "3.14"
matplotlib==3.10.5 ; python_version >= "3.12" and python_version < "3.14"
mpmath==1.3.0 ; python_version >= "3.12" and python_version < "3.14"
narwhals==2.1.2 ; python_version >= "3.12" and python_version < "3.14"
nest-asyncio==1.6.0 ; python_version >= "3.12" and python_version < "3.14"
networkx==3.5 ; python_version >= "3.12" and python_version < "3.14"
numpy==2.3.2 ; python_version >= "3.12" and python_version < "3.14"
nvidia-cublas-cu12==12.8.4.1 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-cupti-cu12==12.8.90 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-nvrtc-cu12==12.8.93 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-runtime-cu12==12.8.90 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cudnn-cu12==9.10.2.21 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cufft-cu12==11.3.3.83 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cufile-cu12==1.13.1.3 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-curand-cu12==10.3.9.90 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusolver-cu12==11.7.3.90 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusparse-cu12==12.5.8.93 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusparselt-cu12==0.7.1 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nccl-cu12==2.27.3 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine != "aarch64"
nvidia-nvjitlink-cu12==12.8.93 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nvtx-cu12==12.8.90 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
packaging==25.0 ; python_version >= "3.12" and python_version < "3.14"
pandas==2.3.1 ; python_version >= "3.12" and python_version < "3.14"
parso==0.8.4 ; python_version >= "3.12" and python_version < "3.14"
pexpect==4.9.0 ; python_version >= "3.12" and python_version < "3.14" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==11.3.0 ; python_version >= "3.12" and python_version < "3.14"
platformdirs==4.3.8 ; python_version >= "3.12" and python_version < "3.14"
plotly==6.3.0 ; python_version >= "3.12" and python_version < "3.14"
prompt-toolkit==3.0.51 ; python_version >= "3.12" and python_version < "3.14"
protobuf==6.32.0 ; python_version >= "3.12" and python_version < "3.14"
psutil==7.0.0 ; python_version >= "3.12" and python_version < "3.14"
ptyprocess==0.7.0 ; python_version >= "3.12" and python_version < "3.14" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.12" and python_version < "3.14"
pyarrow==21.0.0 ; python_version >= "3.12" and python_version < "3.14"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.14" and implementation_name == "pypy"
pydeck==0.9.1 ; python_version >= "3.12" and python_version < "3.14"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "3.14"
pyparsing==3.2.3 ; python_version >= "3.12" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.14"
pytz==2025.2 ; python_version >= "3.12" and python_version < "3.14"
pywin32==311 ; python_version >= "3.12" and python_version < "3.14" and sys_platform == "win32" and platform_python_implementation != "PyPy"
pyzmq==27.0.1 ; python_version >= "3.12" and python_version < "3.14"
referencing==0.36.2 ; python_version >= "3.12" and python_version < "3.14"
requests==2.32.5 ; python_version >= "3.12" and python_version < "3.14"
rpds-py==0.27.0 ; python_version >= "3.12" and python_version < "3.14"
scikit-learn==1.7.1 ; python_version >= "3.12" and python_version < "3.14"
scipy==1.16.1 ; python_version >= "3.12" and python_version < "3.14"
seaborn==0.13.2 ; python_version >= "3.12" and python_version < "3.14"
setuptools==80.9.0 ; python_version >= "3.12" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.14"
smmap==5.0.2 ; python_version >= "3.12" and python_version < "3.14"
stack-data==0.6.3 ; python_version >= "3.12" and python_version < "3.14"
streamlit-option-menu==0.4.0 ; python_version >= "3.12" and python_version < "3.14"
streamlit==1.48.1 ; python_version >= "3.12" and python_version < "3.14"
sympy==1.14.0 ; python_version >= "3.12" and python_version < "3.14"
tenacity==9.1.2 ; python_version >= "3.12" and python_version < "3.14"
threadpoolctl==3.6.0 ; python_version >= "3.12" and python_version < "3.14"
toml==0.10.2 ; python_version >= "3.12" and python_version < "3.14"
torch==2.8.0 ; python_version >= "3.12" and python_version < "3.14"
tornado==6.5.2 ; python_version >= "3.12" and python_version < "3.14"
traitlets==5.14.3 ; python_version >= "3.12" and python_version < "3.14"
triton==3.4.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and platform_machine == "x86_64"
typing-extensions==4.14.1 ; python_version >= "3.12" and python_version < "3.14"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "3.14"
urllib3==2.5.0 ; python_version >= "3.12" and python_version < "3.14"
watchdog==6.0.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system != "Darwin"
wcwidth==0.2.13 ; python_version >= "3.12" and python_version < "3.14"
xgboost==3.0.4 ; python_version >= "3.12" and python_version < "3.14"
zope-interface==7.2 ; python_version >= "3.12" and python_version < "3.14"
